@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overlock:ital@1&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    /* width: 100%; */
}

.name{
    font-weight: 900;
    font-family: 'Overlock', cursive; 
    font-size: 45px;  
    padding-top:75px;
}
.section_one{
    margin-top: 50px;
}
.images{
    box-shadow: 0 3px 6px 0.8px black;
    border-radius: 5px;
}
.nav-pos{
    position: fixed;
    width: 100%;
    overflow: auto;
    top: 0;
    z-index: 999;
}

  .section_two h3, .section-three h3, .section_four h3,.section_five h3{
      color: #192A56;;
      font-weight:bolder;
      font-size: 40px;
      text-transform: uppercase;
    font-family: 'Overlock', cursive; 
  }
.imge-about{
    opacity: 0.8;
    width: 80%;
    border-radius: 0.2em;
}
.secnd-cls .row .col-md-6:last-child{
    position: relative;
}
.secnd-cls{
    position: absolute;
    top: 7vh;
    left: -18vh;
    background:white;
    border-radius: 3px;
    text-align: left;
    /* height: 470px; */
    padding: 5vmin 5vmin 20vmin 10vmin;
    box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.2);
    font-family: 'Overlock', cursive;
    z-index:1;
}
.secnd-cls h1{
    font-weight: bold;
    padding: 0.4em 0 ;
    font-size: 2em ;
}
.secnd-cls p{
    font-size: 1.2em;
    color: rgba(0, 0, 0, 0.5);
}
h4{
    color: #192f60;	
	font-family:'Poppins', sans-serif;
  	font-size: 30px;
     font-weight: bolder;
     text-transform: uppercase;
}

@media only screen and (max-width: 600px) {
    .secnd-cls{
        margin-top: 50px;
        left: 0vh;
    }
  }